.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #B71C02, #ECB906);
}

.form-container h2 {
    color: #fff;
}

.form-container > div {
    display: block;
}

.form-container form {
    width: 75%;
    max-width: 500px;
}

.form-container label {
    display: none;
}

.form-container input {
    display: block;
    padding: 8px;
    border: 2px solid #000;
    margin: 8px;
    width: 100%;
    font-size: 21px;
}

.form-container button#demo-user {
    margin-top: 3%;
    display: block;
}

/* Error Handling */
.form-errors {
    display: block;
    padding: 8px;
    border: 2px solid #000;
    margin: 8px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    background-color: #B71C02;
    color: #fff;
}

/* Delete Button on Account Page */
#delete-account-button {
    margin-top: 5%;
}
