nav .right.mobile {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: right; */
    margin: 1% 2%;
}

nav .right.mobile button#menu {
    display: flex;
    font-size: 24px;
}

nav .right.mobile button#menu.open {
    justify-items: flex-end;
    background: linear-gradient(to right, #B71C02, #ECB906);
}

#mobile-menu.hide {
    display: none;
}

#mobile-menu.display {
    text-align: center;
    padding: 10px;
    border: 2px solid #fff;
    margin: 5px;
    background: #B71C02;
    box-shadow: 2px 2px 10px #333;
}

#mobile-menu.display a {
    display: block;
    margin-bottom: 10px;
}

#mobile-menu.display button {
    margin-left: 0px;
}

@media screen and (max-width: 768px) {
    nav {
        align-items: flex-start;
    }
}
