/* Nav */
nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0);
}

nav .left {
    margin: 0 2%;
}

nav .right {
    margin: 0 2%;
}

nav a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

nav button, .nav-button {
    padding: 0 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-left: 10px;
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

nav button:hover, .nav-button:hover {
    background: linear-gradient(to right, #B71C02, #ECB906);
}

nav #logo {
    font-size: 1.8em;
    color: #fff;
}

nav .right a {
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
}



/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 2%;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

footer .left, footer .right {
    width: 50%;
}

footer .right {
    text-align: center;
}

footer .bottom  {
    width: 0%;
    display: none;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: rgb(236, 185, 6);
}

footer img {
    max-width: 250px;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    footer {
        display: block;
    }

    footer .left {
        display: none;
    }

    footer .right, footer .bottom  {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    footer .bottom {
        padding-top: 10px;
    }
}
