/* Form Style */
#pairing-form form input, #pairing-form form button {
    display: block;
    margin: 10px auto;
}

#pairing-form form select {
    display: block;
    padding: 8px;
    border: 2px solid #000;
    margin: 8px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 21px;
}

#pairing-form form label {
    display: none;
}

/* Form Selection Form Style */
button.alternate-search {
    margin-left: 0px;
}

#pairing-form form#form-selection label {
    display: flex;
    align-items: center;
}

#pairing-form input {
    display: block;
    padding: 8px;
    border: 2px solid #000;
    margin: 8px;
    width: auto;
    font-size: 21px;
}

.radio-button {
    display: inline-block;
    margin: 0 2%;
}

.seperator {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Result Style */
#pairing-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pairing-display img {
  max-width: 350px;
}

#pairing-display p {
    max-width: 80%;
}

@media screen and (max-width: 768px) {
    #pairing-display {
        display: block;
    }

    #pairing-display .left, #pairing-display .right {
        width: 100%;
    }

    #pairing-display img {
        max-width: 250px;
      }
}
